body#gsr.hp.vasq{
    background-image: url("http://interfacelift.com/wallpaper/Db3c61e5/03514_duskatlakezurich_1920x1080.jpg");
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
    font-weight: bold;
    font-size: 15px;
}